<!DOCTYPE html>
<html ng-app="ExcelDownLoader">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="/FileSaver.js-master/FileSaver.min.js"></script>
    <script src="/controller.js"></script>
</head>
<body ng-controller="ExcelDownloadController" ng-init="init()">
    <div>
        <button ng-click="exportData()">Export</button>
    </div>
    <div id="exportable">
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>DoB</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" style="background-color:green">
                    <td style="background-color:blue">{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        {{item.dob | date:'MM/dd/yy'}}<br />
                        sssssssssssssss<br />
                        aaaaaaaaaaaaaaaa
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>